body{
    margin: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"]{
    padding: 7px;
}

textarea{

}

.mb-15{
    margin-bottom: 15px;
}

.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px
}

.float-left{
    float: left;
}

a{
    color: #000000;
}

a:hover{
    text-decoration: blink;
}